<app-header></app-header>

<main class="container">
    <div class="row">
        <div class="col s12 m12 l12">

            <div class="card banner-func">
                <div class="img">
                    <img src="../../../assets/img/equipe/empresa.svg" id="foto">
                </div>
                <div class="text-banner">
                    <h4>Sovaco de Cobra LTDA</h4>
                    <a routerLink="/cadastro-funcionario" class="waves-effect waves-light btn right"
                        ><img src="../../assets/img/equipe/delete.svg" id="delete"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12 card dados-pessoais">
                <div class="titulo row">
                    <h5>Dados da Empresa</h5>
                </div>
                <div class="row">
                    <p class="col s6"><b>CNPJ: </b> 46.615.033/0001-47 </p>
                    <p class="col s6"><b>Razão social: </b> Sovaco de Cobra LTDA </p>
                    <p class="col s6"><b>Nome Fantasia: </b> Restaurante Maria Bonita </p>
                    <p class="col s6"><b>Inscrição Estadual: </b> 688.505.020.833 </p>
                    <p class="col s12"><b>Sigla: </b> SCLTDA </p>
                </div>
                <div class="titulo row">
                    <h5>Endereço</h5>
                </div>
                <div class="row">
                    <p class="col s4"><b>Logradouro: </b> Rua Diamantina </p>
                    <p class="col s2"><b>Número: </b> 333 </p>
                    <p class="col s3"><b>Bairro: </b> Jardim Jasmin </p>
                    <p class="col s3"><b>Cep: </b> 12220-663 </p>
                    <p class="col s4"><b>Cidade: </b> São José dos Campos </p>
                    <p class="col s8"><b>UF: </b> SP </p>
                </div>
                <div class="titulo row">
                    <h5>Informações de Contato</h5>
                </div>
                <div class="row">
                    <p class="col s4"><b>Email: </b> sistema@mariabonita.com.br </p>
                    <p class="col s4"><b>Telefone: </b> (12) 3646-2152  </p>
                    <p class="col s4"><b>Celular/Whatsapp: </b>  (12) 99732-2158 </p>
                    <p class="col s12"><b>Site: </b> www.mariabonita.com.br </p>
                </div>
                <div class="titulo row">
                    <h5>Dados do Representante da Empresa</h5>
                </div>
                <div class="row">
                    <p class="col s12"><b>Dados Pessoais: </b></p>
                    <p class="col s4"><b>Nome: </b> usuario.nome </p>
                    <p class="col s4"><b>CPF: </b> usuario.cpf </p>
                    <p class="col s4"><b>Data de Nascimento: </b> 'dd/MM/yyyy'</p>
                    <p class="col s4"><b>Gênero: </b> usuario.genero </p>
                    <p class="col s12"><b>Dados Funcionais: </b></p>
                    <p class="col s4"><b>Nome: </b> usuario.nome </p>
                    <p class="col s4"><b>CPF: </b> usuario.cpf </p>
                    <p class="col s4"><b>Data de Nascimento: </b> 'dd/MM/yyyy'</p>
                    <p class="col s4"><b>Gênero: </b> usuario.genero </p>
                </div>
        </div>
        <div class="col s12 buttons">
            <a class="btn-voltar btn-large voltar" >VOLTAR</a>
            <a class="btn-editar btn-large right editar" [routerLink]="">EDITAR</a>
        </div>
    </div>
</main>