<app-header></app-header>
<main class="container">
    <h4>
        <i class="material-icons">restaurant_menu</i>
        Adicionar nova receita
    </h4>
    <form method="post" class="form" id="form" #f="ngForm"(ngSubmit) = "addReceita(f.value)">
        <br>
        <input type="text" ngModel name="title" id="nome" placeholder="Informe um nome para a sua receita" #n="ngModel" minlength="3"/>
        <div *ngIf="n.errors?.['minlength']">
            Nome deve conter pelo menos 3 caracteres
        </div>

        <button id="ingrediente" class="btn-small waves-circle waves-light btn-floating secondary-content btnIngrediente right">
            <i class="material-icons">add</i>
        </button>
        <input type="text" ngModel name="ingredientes" id="ingrediente"
            placeholder="Informe os ingredientes da receita" />
        <div id="box" class="box"></div>
        <br>

        <input type="text" ngModel name="modoDePreparo" placeholder="Informe o modo de preparo"/>
    </form>

    <button [disabled]="f.invalid" class="btn center-align right btnSalvar">Salvar</button>
    <label>{{ msg }}</label>

    <table>

    </table>
</main>