.content {
    display: flex;
    margin: 110px 0 0 0;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
  }
  .btnIngrediente{
    background-color: #e8ba7fe7;
    right: 0px;
    bottom: -40px;
  }
  .btnIngrediente:hover{
    background-color: #750000;
  }
  .form{
    margin: 50px;
  }
  .btnSalvar {
    background-color: #e8ba7fe7;
    margin-right: 50px;
    margin-bottom: 20px;
  }
  .btnSalvar:hover{
    background-color: #750000;
  }
 