<app-header></app-header>
<section>

<app-sidebar-admin id="sidebar" class="hide-on-small-only"></app-sidebar-admin>

<div class="conteudo">
  <div class="row">
      <div class="col s12 m12 l8">
              <div class="col s4 m4 l4">
                  <div class="card-panel card-1">

                  </div>
              </div>
              <div class="col s4 m4 l4">
                  <div class="card-panel card-1">

                  </div>
              </div>
              <div class="col s4 m4 l4">
                  <div class="card-panel card-1">

                  </div>
              </div>
          
          <div class="col s12 m12 l12">
              <div class="card-panel card-1">

              </div>
          </div>
      </div>
      <div class="col s12 m12 l4">
          <div class="col s12 m12 l12">
              <div class="card-panel card-2">
  
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col s12 m6 l6">
          <div class="col s12 m12 l12">
              <div class="card-panel card-1">
  
              </div>
          </div>
      </div>
      <div class="col s12 m6 l6">
          <div class="col s12 m12 l12">
              <div class="card-panel card-1">
  
              </div>
          </div>
      </div>
  </div>
</div>
</section>



