<app-header></app-header>
<main class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="row">
                <div class="col s6 m6 l6">
                    <div class="card card-menu">
                        <a>
                            <div class="card-content">
                                <h1 class="text-card">Relatório de Vendas</h1>
                                <img src="../../assets/icon-menu/cesta.svg" alt="relatório de vendas">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col s6 m6 l6">
                    <div class="card card-menu">
                        <a>
                            <div class="card-content">
                                <h1 class="text-card">Relatório Financeiro</h1>
                                <img src="../../assets/icon-menu/financeiro.svg" alt="relatório financeiro">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col s6 m6 l6">
                    <div class="card card-menu">
                        <a>
                            <div class="card-content">
                                <h1 class="text-card">Relatório de Estoque</h1>
                                <img src="../../assets/icon-menu/estoque.svg" alt="relatório de estoque">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col s6 m6 l6">
                    <div class="card card-menu">
                        <a>
                            <div class="card-content">
                                <h1 class="text-card">Relatório de Equipe</h1>
                                <img src="../../assets/icon-menu/equipe.svg" alt="relatório de estoque">
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>