<app-header></app-header>
<div class="container">
    <div class="row" style="margin-top: -60px;">
        <img class="responsive-img icone left"
            src="../../../../../../assets/icon-component/cadastroCliente.svg" alt="cadastro-cliente">
        <h4 class="col s12 m10">CADASTRO DO REPRESENTANTE DA EMPRESA</h4>
    </div>

    <div class="containerCadastro" style="margin-top: 60px;">

        <form #f="ngForm">

            <div class="row">
                <h6 class="">Dados da empresa</h6>
                <div class="form-input col s12 m4 l4">
                    <label>CNPJ/Código de registro</label>
                    <input class="form-input z-depth-2" type="text" required readonly name="cnpj">
                </div>
                <div class="form-input col s12 m8 l8">
                    <label>Razão social da empresa</label>
                    <input class="form-input z-depth-2" type="text" required readonly ngModel name="razaoSocial">
                </div>
            </div>

            <div class="row">
                <h6 class="">Dados do Representante da Empresa</h6>
                <h6 class="dadosPessoais">Dados Pessoais</h6>
                <div class="form-input col s12 m9 l9">
                    <label>Nome:</label>
                    <input class="form-input z-depth-2" type="text" required ngModel name="nome">
                </div>

                <div class="col s10 m3 l3">
                    <div class="form-input">
                        <label>CPF:</label>
                        <input class="form-input z-depth-2" type="text" required ngModel name="cpf">
                    </div>
                </div>
                <div class="col s10 m2 l3">
                    <div class="form-input">
                        <label>Gênero:</label>
                        <select name="perfil" ngModel class="browser-default">
                            <option value="feminino">Feminino</option>
                            <option value="masculino">Masculino</option>
                            <option value="não-binário">Não-binário</option>
                            <option value="outros">Outros</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m2 l3">
                        <div class="form-input">
                            <label for="data-nascimento">Data de Nascimento</label>
                            <input id="data-nascimento" class="form-input z-depth-2" type="DATE" required ngModel
                                name="data-nascimento">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h6 class="">Dados Funcionais</h6>
                <div class="form-input col s12 m3 l3">
                    <label>Matrícula:</label>
                    <input class="form-input z-depth-2" type="text" required ngModel name="matricula">
                </div>
                <div class="col s10 m2 l2">
                    <div class="form-input">
                        <label>Perfil:</label>
                        <input class="form-input z-depth-2" type="text" ngModel="GERENCIA" readonly name="perfil">
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="inputfile-box">
                        <label for="cpf">Foto/Avatar:</label>
                        <input type="file" id="file" class="inputfile" onchange='uploadFile(this)'>
                        <label for="file">
                            <span id="file-name" class="file-box"></span>
                            <span class="file-button">
                                <i class="fa fa-upload" aria-hidden="true"></i>
                                <img src="../../../../../../assets/icon-component/upload.svg" alt="upload">
                            </span>
                        </label>
                    </div>
                </div>
                <div class="col s10 m3 l3">
                    <div class="form-input">
                        <label>Senha:</label>
                        <input class="form-input z-depth-2" type="text" required ngModel name="senha">
                    </div>
                </div>
            </div>
        </form>


        <div class="row">
            <div class="col s12 m12 l12 buttons-content">
                <button type="reset" class="button-cancelar btn buttons" (click)="back()">CANCELAR</button>
                <button type="submit" class="button-cadastrar btn buttons">Cadastrar</button>
            </div>
        </div>

    </div>

</div>