<app-header></app-header>

<main class="container">
    <h4>Pedidos Pendentes(2)</h4>

    <div class="card card-meio">
        <div class="img">
            <img class="img-meio" src="../../assets/img/receitas/torta-limao.png" alt="cozinha">
        </div>
        <div class="content-texto">
            <div class="alinhar">
                <div class="linha-1">
                    <span class="span">TORTA DE LIMÃO</span>
                    <span>Data para entrega: 12/08/2022</span>
                    <span>Horário: 16h45m</span>  
                </div>
                <div class="linha-2">
                    <a routerLink="/execucao-receita" class="waves-effect waves-light btn btnNovo right"><img src="../../assets/img/cozinha/check.svg" alt="icon-check">Iniciar Receita</a>
                </div>
            </div>
        </div>

    </div>
    <div class="card card-meio">
        <div class="img">
            <img class="img-meio" src="../../assets/img/receitas/boloFerreroRocher.jpg" alt="cozinha">
        </div>
        <div class="content-texto">
            <div class="alinhar">
                <div class="linha-1">
                    <span class="span">BOLO FERRERO ROCHER</span>
                    <span>Data para entrega: 23/08/2022</span>
                    <span>Horário: 18h45m</span>  
                </div>
                <div class="linha-2">
                    <a routerLink="" class="waves-effect waves-light btn btnNovo right"><img src="../../assets/img/cozinha/check.svg" alt="icon-check">Iniciar Receita</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col s12 m12 l12 buttons-content">
            <button class="button-voltar buttons" routerLink="/dashboard-cozinha" >VOLTAR</button>
        </div>
    </div>
</main>

