.spacer {
    flex: 1;
  }

  .toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #00796B;
    color: white;
    font-weight: 600;
    /* position: fixed; */
    z-index: 9999;
    overflow: hidden;
  }


  .toolbar .nav-logo {
    margin: -10px 16px;
    width: 150px;
  }

  .toolbar .avatar {
    height: 50px;
    margin: 0 8px;
    vertical-align: middle;

  }

  .toolbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
  }

  a{
    cursor: pointer;
  }
  
  .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }