<!-- Toolbar -->
<div class="navbar-fixed">

    <nav>
        <div class="toolbar" role="banner">
            <a (click)="backDashboard()">
                <img class="nav-logo" alt="logo" src="../../../assets/logo/logo-bonApt-nome.svg" />
            </a>
            <div class="spacer"></div>
            <ul>
                <li>
                    <a a class='dropdown-trigger' href='#' data-target='dropdown-menu'>
                        <span>{{ user.nome }}</span>
                        <img alt="perfil" class="responsive-img circle avatar" src="../../../assets/fotos/perfil.jpg">
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                        
        
                        <ul id='dropdown-menu' class='dropdown-content'>
                            <li><a href="#!"><i class="material-icons">account_circle</i>Meu Perfil</a></li>
                            <li><a href="#!"><i class="material-icons">settings</i>Configurações</a></li>
                            <li><a (click)="logout()"><i class="material-icons">logout</i>Sair</a></li>
                        </ul>
        
                </li>
            </ul>
        </div>
    </nav>
</div>
<app-sidebar id="sidebar" class="hide"></app-sidebar>
<app-button-menu (situationSidebar)="onChangeSidebar()" id="menu" class="show"></app-button-menu>
<div style="margin-bottom: 150px;"></div>
