<app-header></app-header>
<main class="container">

    <form #form="ngForm" (ngSubmit)="novaVenda(form.value)">

        <div class="row">
            <div class="col s12 m3 l3 select">
    
                <label>Tipo de Venda</label>
                <select class="browser-default" [(ngModel)]="selectedValue" name="tipoVenda">
                    <option value="comum" selected>Comum</option>
                    <option value="encomenda">Encomenda</option>
                </select>
            </div>
    
            <div class="col s12 m5 l5">
                <div class="form-input">
                    <label>Número/Nome do produto</label>
                    <input class="form-input z-depth-2" type="text" required ngModel name="nomeProduto">
                </div>
            </div>
            
            <div class="col s12 m4 l4">
                <div class="form-input">
                    <label for="unidadeVolume">Quantidade</label>
                    <input class="form-input z-depth-2" type="text" required ngModel name="quantidade">
                </div>
            </div>
            <div class="form-input col s12 m4 l4">
                    <label>Valor unitário do produto</label>
                    <input class="form-input z-depth-2" type="text"
                        required ngModel name="valorUnitario">
            </div>
            <div class="col m8 l8">
                <div class="form-input">
                    <label>Nome do Vendedor</label>
                    <input class="form-input z-depth-2" type="text" required>
                </div>
            </div>
    
            <div *ngIf="selectedValue == 'encomenda'">
    
                <div class="col m8 l8">
                    <div class="form-input">
                        <label>Nome do Cliente</label>
                        <input class="form-input z-depth-2" type="text" required>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="form-input">
                        <label>Telefone</label>
                        <input class="form-input z-depth-2" type="text" required>
                    </div>
                </div>
                <div class="col m3 l3">
                    <div class="form-input">
                        <label>Data de Entrega</label>
                        <input class="form-input z-depth-2" type="text" required>
                    </div>
                </div>
                <div class="col m3 l3">
                    <div class="form-input">
                        <label>Horário da entrega</label>
                        <input class="form-input z-depth-2" type="text" required>
                    </div>
                </div>
            </div>
        </div>
    
    
    
        <div class="row">
            <div class="col s12 m12 l12 button-content">
                <button class="button-salvar btn buttons">Salvar</button>
            </div>
        </div>
    </form>

    <div *ngIf="selectedValue == 'encomenda'">

        <div class="row">
            <div class="col s12 m12 l12">
                <label>
                    <input class="with-gap" name="group3" type="radio" checked [(ngModel)]="selectedRadius"
                        value="balcao" />
                    <span>Retirada no balcão</span>
                </label>
    
                <label>
                    <input class="with-gap" name="group3" type="radio" checked [(ngModel)]="selectedRadius"
                        value="delivery" />
                    <span>Delivery</span>
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div *ngIf="selectedRadius == 'delivery' && selectedValue == 'encomenda'">

            <div class="col m8 l8">
                <div class="form-input">
                    <label>Logradouro</label>
                    <input class="form-input z-depth-2" type="text" required>
                </div>
            </div>
            <div class="col m4 l4">
                <div class="form-input">
                    <label>Número</label>
                    <input class="form-input z-depth-2" type="text" required>
                </div>
            </div>
            <div class="col m8 l8">
                <div class="form-input">
                    <label>Bairro</label>
                    <input class="form-input z-depth-2" type="text" required>
                </div>
            </div>
            <div class="col m4 l4">
                <div class="form-input">
                    <label>CEP</label>
                    <input class="form-input z-depth-2" type="text" required>
                </div>
            </div>
            <div class="col m8 l8">
                <div class="form-input">
                    <label>Complemento</label>
                    <input class="form-input z-depth-2" type="text"  required>
                </div>
            </div>
            <div class="col m4 l4">
                <div class="form-input">
                    <label>Moradia</label>
                    <select class="browser-default" [(ngModel)]="selectMoradia">
                        <option value="residencial" selected>Residencial</option>
                        <option value="comercial">Comercial</option>
                        <option value="apartamento">Apartamento</option>
                    </select>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12">
            <h5>Demonstrativo da compra</h5>

            <!-- <div class="descricao"> -->
                <table class="striped responsive-table centered">
                    <thead>
                        <tr>
                            <th>Item<br/>&nbsp;</th>
                            <th>Quantidade<br/>&nbsp;</th>
                            <th>Valor unitário<br/>&nbsp;</th>
                            <th>Valor total<br/>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let venda of vendas">
                            <td>{{ venda.nomeProduto }}</td>
                            <td>{{ venda.quantidade }}</td>
                            <td>{{ venda.valorUnitario | currency:'BRL'}}</td>
                            <td>{{valorTotalPorItem(venda.valorUnitario, venda.quantidade) | currency:'BRL'}}</td>
                        </tr>
                    </tbody>
                </table>

                <!-- <h6>Total:{{valorTotal()}}</h6> -->
            <!-- </div> -->
        </div>

    </div>

    <div class="row">
        <div class="col s12 m12 l12 buttons-content">
            <button routerLink="/vendas" class="button-cancelar btn buttons">Cancelar venda</button>
            <button class="button-venda btn buttons">Aceitar encomenda</button>
        </div>
    </div>

</main>