<app-header></app-header>
<main class="container">
    <div class="titulo">
        <img class="responsive-img icone" src="../../../assets/icon-component/carrinho.svg" alt="icone-carrinho">
        <h4>Nova venda</h4>
    </div>

    <!-- <form #form="ngForm" (ngSubmit)="addVenda(form.value)"> -->

        <div class="row">
            <div class="col s12 m3 l3 select">
    
                <label>Tipo de Venda</label>
                <select class="browser-default" [(ngModel)]="selectedValue" name="tipoDaVenda">
                    <option value="COMUM" selected>Comum</option>
                    <option value="ENCOMENDA">Encomenda</option>
                </select>
            </div>
            <!-- Capturar dados com a funcao add item -->

            
            <form #form="ngForm" (ngSubmit)="addItem(form.value)">
                <div class="col s12 m6 l6 select">
                    <label>Produto</label>
                    <select class="browser-default" ngModel name="produto" [(ngModel)]="idProduto" (change)="addQuantidade()">
                        <option *ngFor="let produto of produtos" [ngValue]="produto">{{produto.nomeProduto}}</option>
                    </select>
                </div>

                <div class="col s12 m3 l3 select">
                    <label>Quantidade</label>
                    <select class="browser-default" ngModel name="quantidade">
                        <option *ngFor="let quantidade of quantidade;" [ngValue]="quantidade">{{quantidade}}</option>
                    </select>
                </div>


                <div class="row">
                    <div class="col s12 m12 l12">
                        <button class="waves-effect waves-light button-venda right btn buttons" name="action" type="submit">Add Item a compra
                        </button>
                    </div>
                </div>
            </form>           
        </div>

        <div class="row">
            <div class="col s12">

                <table class="striped">
                    <caption>Demonstrativo da compra</caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Produto</th>
                            <th>Quantidade</th>
                            <th>Valor unitário</th>
                            <th>Valor total</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr *ngFor="let item of item; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{item.nomeItem}}</td>
                            <td>{{item.quantidade}}</td>
                            <td>{{item.valorUnitario | currency: 'BRL'}}</td>
                            <td>{{item.valorTotal | currency: 'BRL'}}</td>
                            <div class=" col s5 m3 l3">
                                <button class="btn delete" (click)="removeItem(i)"><i i class="material-icons prefix">delete</i></button>
                            </div>
                        </tr>
                        
                    </tbody>
    
                </table>
            </div> 
            <div class="col s12 m3 l3 select">
    
                <label>Forma de pagamento</label>
                <select class="browser-default" (change)="formatarValor()"  [(ngModel)]="selectPagamento" name="pagamento">
                    <option value="CARTAO">Cartão</option>
                    <option value="DINHEIRO">Dinheiro</option>
                </select>
            </div>  
            <div *ngIf="selectPagamento == 'DINHEIRO'">
                <div class="form-input col s12 m3 l3">
                    <label>Valor recebido</label>
                    <input class="form-input z-depth-2" type="text"
                        required name="valorRecebido" [ngModel]="money" (ngModelChange)="money = $event">
                </div>

                <div class="form-input col s12 m3 l3">
                    <label>Valor do troco</label>
                    <input class="form-input z-depth-2" type="text"
                        required name="valorTroco" ngModel="{{money - (quant  * idProduto.preco ) | currency: 'BRL'}}">
                </div>

            </div> 
            <div class="col m8 l6">
                <div class="form-input">
                    <label>Nome do Vendedor</label>
                    <input class="form-input z-depth-2" type="text" required name="vendedor" ngModel="{{vendedor.nome}}">
                </div>
            </div>


    
            <div *ngIf="selectedValue == 'ENCOMENDA'">
    
                <div class="col m6 l6">
                    <div class="form-input">
                        <label>Nome do Cliente</label>
                        <input class="form-input z-depth-2" type="text" required>
                    </div>
                </div>
                <div class="col s12 m3 l3">
                    <div class="form-input">
                        <label>Telefone</label>
                        <input class="form-input z-depth-2" type="text" required>
                    </div>
                </div>
                <div class="col m3 l3">
                    <div class="form-input">
                        <label>Data de Entrega</label>
                        <input class="form-input z-depth-2" type="text" required>
                    </div>
                </div>
                <div class="col m3 l3">
                    <div class="form-input">
                        <label>Horário da entrega</label>
                        <input class="form-input z-depth-2" type="text" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col s12 m12 l12 buttons-content">
                <button routerLink="/vendas" class="button-cancelar btn buttons">Cancelar venda</button>
                <button type="submit" class="button-venda btn buttons" (click)="addVenda()">Finalizar venda</button>
            </div>
        </div>

</main>