h6,h5, h4, .btn {

    font-family: 'Agrandir', sans-serif;
}
label{
    font-family: 'Manrope-SemiBold', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #000;
}

main{
  margin-top: 60px;
}

.titulo {
  margin-bottom: 3%;
  display: flex;
  justify-content: left;
  align-items: center;
}

h4 {
  margin: 0 1%;
}

.form-input input.form-input {
  color: rgba(0, 0, 0, .87);
  background: #D9D9D9;
}

.form-input{
  margin-bottom: 20px;
}

input.form-input {
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  margin-bottom: 0;
  padding: 8px 24px 8px 24px;
  transition: all .2s ease;
  border-radius: 3px;
  outline: 0;
  border: none;
  appearance: textfield;
}

.form-input input.form-input[type=text]:focus {
  border-bottom: none;
  box-shadow: none;
}

.button-content{
  display: flex;
  justify-content: right;
  align-items: center;
}

.buttons-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons{
  height: 58px;
  width: 324px;
  cursor: pointer;
  border: none;
}

.button-venda, .button-salvar{
  background: #00796B;
  color: #fff;
  height: 50px;
  width: 220px;
  text-transform: uppercase;
  padding-top: 5px;
  border-radius: 2px;
}

.delete{
  background: #F44336;
  color: #fff;
  height: 50px;
  padding-top: 5px;
  border-radius: 2px;
}

.delete i{
  font-size: 20px;
}

.button-cancelar{
  height: 50px;
  width: 220px;
  text-transform: uppercase;
  background: #ff5722;
  color: #fff;
  padding-top: 5px;
  border-radius: 2px;
}

.button-cancelar:hover{
  background: #ffccbc;
  color: #000;
}

.select{
  margin-bottom: 20px;
}
select{
  color: rgba(0, 0, 0, .87);
  background: #D9D9D9;
  border: none;
}


.button-salvar:hover, .button-venda:hover{
  background: #B2DFDB ;
  color: black;
}

table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 10px;
  border: 1px solid #000;
}

