<app-header></app-header>
<div class="container">
    <div class="containerBuscar">
        <div class="titulo">
            <img src="../../../../../assets/icon-component/Vector.svg" />
            <h6>Buscar por uma venda</h6>
        </div>
        <div class="row">
            <div class="form-input col s12 m2 l2">
                <label>Data da venda</label>
                <input class="form-input z-depth-2" type="text" required ngModel name="cpf">
            </div>
            <div class="col s10 m2 l2">
                <div class="form-input">
                    <label>Código da venda</label>
                    <input class="form-input z-depth-2" type="text" required ngModel name="nome">
                </div>
            </div>
            <div class="col s10 m3 l3">
                <div class="form-input">
                    <label>Nome do cliente</label>
                    <input class="form-input z-depth-2" type="text" required ngModel name="nome">
                </div>
            </div>
            <div class="col s10 m4 l4">
                <div class="form-input">
                    <label>Nome do vendedor</label>
                    <input class="form-input z-depth-2" type="text" required ngModel name="nome">
                </div>
            </div>
            <div class="col s2 m1 l1">
                <a class="waves-effect waves-light btn search bottom"><i
                        class="material-icons centered white-text">search</i></a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col s12 m12 l12">
            <h5>Últimas vendas realizadas</h5>

            <div class="">
                <table class="striped responsive-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Cod. Venda</th>
                            <th>Data</th>
                            <th>Hora</th>
                            <th>Nome do vendedor</th>
                            <th>Nome do cliente</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody class="descricaoTable">
                        <tr>
                            <td>1</td>
                            <td>06948472</td>
                            <td>07/08/2022</td>
                            <td>13:57</td>
                            <td>Sheldon Lee Cooper</td>
                            <td>Sheldon Lee</td>
                            <td class="acoes">
                                <a class="editar">
                                    <img class="responsive-img icone" src="./../../../../../../assets/icon-component/lapisEditar.svg" alt="icon" routerLink="">
                                  </a>
                                  <a class="visualizar">
                                    <img class="responsive-img icone" src="./../../../../../../assets/icon-component/visualizar.svg" alt="icon"
                                      routerLink="/visualizar-cliente">
                                  </a>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12 buttons-content">
            <button class="button-voltar buttons btn " (click)="back()">VOLTAR</button>
        </div>
    </div>
</div>