<app-header></app-header>
<main class="content">    
    <div class="row">
        <div class="col s12 m12 l4">
            <div class="row">
                <div class="col s6 m6 l6">
                    <div class="card card-menu">
                        <a routerLink="/pedidos-pendentes">
                            <div class="card-content content-menu">
                                <img class="responsive-img icone" src="../../assets/img/cozinha/pendentes.svg">
                                <h1>Pedidos pendentes</h1>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col s6 m6 l6">
                    <div class="card card-menu">
                        <a routerLink="/pedidos-andamento">
                            <div class="card-content content-menu">
                                <img class="responsive-img icone" src="../../assets/img/cozinha/andamento.svg">
                                <h1>Pedidos em andamento</h1>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col s6 m6 l6">
                    <div class="card card-menu">
                        <a routerLink="/pedidos-finalizados">
                            <div class="card-content content-menu">
                                <img class="responsive-img icone" src="../../assets/img/cozinha/finalizados.svg">
                                <h1>Pedidos finalizados</h1>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col s6 m6 l6">
                    <div class="card card-menu">
                        <a>
                            <div class="card-content content-menu">
                                <img class="responsive-img icone" src="../../assets/img/cozinha/receitas.svg">
                                <h1>Receitas</h1>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col s12 m12 l8">
            <div class="card">

                <div class="card-content">
                    <h5>Painel de Encomendas</h5>
                    <table class="responsive-table striped centered">
                        <thead>
                            <tr>
                                <th class="coluna_img" colspan="2">Solicitação</th>
                                <th>Data</th>
                                <th>Horário de Entrega</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="coluna_img">
                                    <img class="responsive-img circle"
                                        src="../../assets/img/receitas/BoloDeChocolateComMorango.jpg" alt="bolo">
                                </td>
                                <td class="coluna_img">
                                    <span>Bolo de chocolate com morango</span>
                                </td>
                                <td><a class="badge teal white-text">17/08/2022</a></td>
                                <td>18h40m</td>
                            </tr>
                            <tr>
                                <td class="coluna_img">
                                    <img class="responsive-img circle" src="../../assets/img/receitas/coxinha.jpg"
                                        alt="bolo">

                                </td>
                                <td class="coluna_img">
                                    <span>Coxinha de frango</span>
                                </td>
                                <td><a class="badge orange darken-2">18/08/2022</a></td>
                                <td>18h40m</td>
                            </tr>
                            <tr>
                                <td class="coluna_img">
                                    <img class="responsive-img circle" src="../../assets/img/receitas/Brownie.jpg"
                                        alt="bolo">
                                </td>
                                <td class="coluna_img">
                                    <span>Brownie</span>
                                </td>
                                <td><a class="badge light-green darken-4">30/08/2022</a></td>
                                <td>18h40m</td>
                            </tr>

                            <tr>
                                <td class="coluna_img" colspan="4">
                                    <a>                                    
                                        <span class="black-text"><b>Legenda:</b></span>
                                        <span class="badge teal white-text">Hoje</span>
                                        <span class="badge orange darken-2">Amanhã</span>
                                        <span class="badge light-green darken-4">Próximos Dias</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>

                    </table>



                </div>
            </div>

        </div>
    </div>

</main>