<app-header></app-header>
<main class="content">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="row">
                <div class="col s6 m4 l4">
                    <div class="card card-menu">
                        <a href="#!">
                            <div class="card-content">
                                <h1 class="text-card">RELATÓRIO DE VENDAS</h1>
                                <img src="../../assets/img/vendas-icone.svg" alt="relatório de vendas">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col s6 m4 l4">
                    <div class="card card-menu">
                        <a href="#">
                            <div class="card-content">
                                <h1 class="text-card">RELATÓRIO FINANCEIRO</h1>
                                <img src="../../assets/img/receitas.svg" alt="relatório financeiro">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col s6 m4 l4">
                    <div class="card card-menu">
                        <a href="#!">
                            <div class="card-content">
                                <h1 class="text-card">RELATÓRIO DE ESTOQUE</h1>
                                <img src="../../assets/img/estoque-icone.svg" alt="relatório de estoque">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m2 l12">
                        <div class="card card-inferior">
                            <div class="card-content">
                                <h1 class="text-card">RELATÓRIO GERAL</h1>
                                <!-- <google-chart 

    [type]="chartData.type" 

    [data]="chartData.data" 

    [columns]="chartData.columnNames" 

    [options]="chartData.options" 

    [width]="chartData.width"

    [height]="chartData.height">

      

</google-chart> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>