<app-header></app-header>
<section>


<app-sidebar class="hide-on-small-only"></app-sidebar>

<div class="conteudo">
  <div class="row">
      <div class="col s12 m12 l8">
              <div class="col s4 m4 l4">
                  <div class="card-panel card-1">
                    <p class="titulo-card1">Quant. de matéria prima no estoque</p>
                    <h3>223</h3>
                  </div>
              </div>
              <div class="col s4 m4 l4">
                  <div class="card-panel card-1">
                    <p class="titulo-card1">Total de vendas do mês</p>
                    <h3>643</h3>
                  </div>
              </div>
              <div class="col s4 m4 l4">
                  <div class="card-panel card-1">
                    <p class="titulo-card1">Lucro mensal</p>
                    <h3>R$ 27 m</h3>
                  </div>
              </div>
          
          <div class="col s12 m12 l12">
              <div class="card-panel card-1">
                <p class="titulo-card3">Lucro dos quatro últimos meses</p>
                <img class="grafico1" src="../../assets/icon-component/grafico1.svg" alt="grafico1">                
              </div>
          </div>
      </div>
      <div class="col s12 m12 l4">
          <div class="col s12 m12 l12">
              <div class="card-panel card-2">
                <p class="titulo-card2">Calendário</p>
                <img class="calendario" src="../../assets/icon-component/calendario.svg" alt="calendario">
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col s12 m6 l6">
          <div class="col s12 m12 l12">
              <div class="card-panel card-1">
                <p class="titulo-card1">Percentual de vendas mensais realizadas por funcionário (3 melhores vendedores)</p>
                <img class="grafico2" src="../../assets/icon-component/grafico2.svg" alt="grafico2">
              </div>
          </div>
      </div>
      <div class="col s12 m6 l6">
          <div class="col s12 m12 l12">
              <div class="card-panel card-1">
                <p class="titulo-card3">Itens mais vendidos no mês</p>
                <img class="grafico3" src="../../assets/icon-component/grafico3.svg" alt="grafico3">
              </div>
          </div>
      </div>
  </div>
</div>
</section>