.card-1 {

  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  height: 170px;
  padding: 10px;
  margin-bottom: 10px;


}

.card-2 {

  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  height: 357px;
  padding: 10px;
  margin-bottom: 10px;


}


.conteudo {
  padding-left: 70px;
  margin-left: 80px;
  margin-right: 50px;
  margin-top: -50px;
}

@media screen and (max-width: 768px) {
  .conteudo {
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -50px;
  }

}

p {
  font-family: 'Agrandir', sans-serif;
}

.titulo-card1 {
  color: #00796B;
  font-size: 0.8em;
  text-align: center;
  margin-top: -10px;
}

.titulo-card2 {
  color: #00796B;
  text-align: center;
  margin-top: -10px;
}

.titulo-card3 {
  color: #00796B;
  margin-top: -10px;
}

h3 {
  font-family: 'Agrandir', sans-serif;
  text-align: center;
  color: gray;
  margin-top: 40px;
}

.calendario {
  margin-top: 10px;
  width: 98%;
}

.grafico1{
  width: 70%;
}

.grafico2{
  width: 70%;
}

.grafico3{
  width: 98%;
}