<app-header></app-header>
<main class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="row">
                <div class="col s6 m6 l6">
                    <div class="card card-menu">
                        <a routerLink="/movimentar-materia-prima">
                            <div class="card-content content-menu">
                                <img class="responsive-img icone" src="../../../assets/icon-component/lupa.svg" alt="icone-lupa">
                                <h1>Cadastro de matéria-prima</h1>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col s6 m6 l6">
                    <div class="card card-menu">
                        <a routerLink="/movimentar-produtos-acabados">
                            <div class="card-content content-menu">
                                <img class="responsive-img icone" src="../../../assets/icon-component/caixa.svg" alt="icone-caixa">
                               
                                <h1>Cadastro de produtos acabados</h1>
                            </div>
                        </a>
                    </div>
                </div>
  
            </div>

        </div>

    </div>
</main>