<app-header></app-header>

<main class="container">
    <h4>Pedidos Finalizados (2)</h4>

    <div class="card card-meio">
        <div class="img">
            <img class="img-meio" src="../../assets/fotos/comida/torta-limao.png" alt="cozinha">
        </div>
        <div class="content-texto">
            <div class="alinhar">
                <div class="linha-1">
                    <span class="span">TORTA DE LIMÃO</span>
                    <span>Data para entrega: 12/08/2022</span>
                    <span>Horário: 16h45m</span>  
                </div>
                <div>
                    <a routerLink="" class="waves-effect waves-light btn visualizar ">
                        <img src="../../assets/icon-component/visualizar.svg" alt="icone-visualizar">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12 buttons-content">
            <button class="button-voltar buttons" (click)="back()" >VOLTAR</button>
        </div>
    </div>
</main>



