h6,h4,
.btn {
    font-family: 'Agrandir', sans-serif;
}

label,
span {
    font-family: 'Manrope-SemiBold', sans-serif;
}

span {
    font-size: 12px;
    line-height: 25px;
    margin-left: 30px;
}

*{
    font-family: 'Manrope', sans-serif;
}

.card-meio{
    display: flex;
    background-color: #D9D9D9;
    height: 100%;
    padding: 10px;
}

.card-meio .img{
    flex: 1;
}

.card-meio .content-texto{
    flex: 4;
}

.alinhar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.card-meio img{
    display: block;
    width: 40%;
    border-radius: 100%;
}

.card-meio span{
    display: block;
    margin-left: -80px;
    
}

.linha-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}


.linha-1 .span{
    font-family: 'Manrope-Bold', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
}


.linha-2 img{
    display: block;
    width: 20%;
    float: left;
}

.btn{
    background-color: #00796B;
}

.button-voltar{
    height: 50px;
    width: 200px;
    text-transform: uppercase;
    border: none;
    background: #FF5722;
    color: #fff;
    margin-left: -10px;
    margin-top: 100px;
    padding-top: 5px;
    border-radius: 2px;
  }
  .button-voltar:hover{
    background: #ffccbc;
    color: #000;
  }