<app-header></app-header>

<main class="container">
    <h4>Consultar Estoque</h4>

    <div class="card card-meio">
        <div class="img">
            <img class="img-meio" src="../../assets/img/estoque/product.svg" alt="cozinha">
        </div>

        <div class="content-texto">
            <div class="alinhar">
                <div class="linha-1">
                    <span class="span">MORANGO</span>
                    <span>Data para entrega: 12/08/2022</span>
                    <span>Horário: 16h45m</span>
                </div>
            </div>
        </div>

        <div>
            <a class="waves-effect waves-light btn visualizar">
                <img src="../../assets/img/estoque/olho.svg" alt="ícone-visualizar"></a>
        </div>

        <div>
            <a routerLink="/atualizar-estoque" class="waves-effect waves-light btn edit">
                <img src="../../assets/img/estoque/edit.svg" alt="ícone-edit"></a>
        </div>

    </div>

    <div class="row">
        <div class="col s12 m12 l12 buttons-content">
            <button class="button-voltar buttons" routerLink="/estoque">VOLTAR</button>
        </div>
    </div>
</main>