<app-header></app-header>

<main class="container">
    <h4>Consultar Estoque</h4>

    <div class="row">
        <form autocomplete="off">
            <div class="col s10 m5 l5">
                <div class="form-input">
                    <label>Buscar produto:</label>
                    <input class="form-input z-depth-2" type="text" required  name="descricao">
                </div>
            </div>

            <div class="col s2 m1 l1">
                <button class="waves-effect waves-light btn search bottom">
                    <i class="material-icons centered white-text btnSearch">search</i>
                  </button>
                
            </div>
        </form>

    </div>


    <div class="card card-meio" *ngFor="let produto of estoque">
        <div class="img">
            <img class="img-meio" src="../../assets/img/estoque/product.svg" alt="cozinha">
        </div>

        <div class="content-texto">
            <div class="alinhar">
                <div class="linha-1">
                    <span class="span">{{produto.id_produto.descricao}}</span>
                    <span>{{produto.lote}}</span>
                    <span>{{produto.quantidade}}</span>
                </div>
            </div>
        </div>

        <div>
            <a class="waves-effect waves-light btn visualizar">
                <img src="../../assets/img/estoque/olho.svg" alt="ícone-visualizar"></a>
        </div>

        <div>
            <a [routerLink]="['/atualizar-estoque', produto.id_estoque]"  class="waves-effect waves-light btn edit">
                <img src="../../assets/img/estoque/edit.svg" alt="ícone-edit"></a>
        </div>

    </div>

    <div class="row">
        <div class="col s12 m12 l12 buttons-content">
            <button class="button-voltar buttons" routerLink="/estoque">VOLTAR</button>
        </div>
    </div>
</main>