<app-header></app-header>

<main class="container">
    <h4>Consultar Estoque</h4>

    <div class="card card-meio">
        <div class="img">
            <img class="img-meio" src="../../assets/img/receitas/torta-limao.png" alt="cozinha">
        </div>
        <div class="content-texto">
            <div class="alinhar">
                <div class="linha-1">
                    <span class="span">TORTA DE LIMÃO</span>
                    <span>Data para entrega: 12/08/2022</span>
                    <span>Horário: 16h45m</span>  
                </div>
                <div class="visualizar">
                    <img class="responsive-img icone" src="../../assets/img/vendas/visualizar.svg" alt=""  routerLink="">
                </div>
                <div class="check">
                    <img class="responsive-img icone" src="../../assets/img/cozinha/check.svg" alt=""  routerLink="">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12 buttons-content">
            <button class="button-voltar buttons" routerLink="/estoque" >VOLTAR</button>
        </div>
    </div>
</main>


