<app-header></app-header>

<main class="container">
    <h4>Consultar Estoque</h4>

    <div class="row">
        <form autocomplete="off" (ngSubmit)="filtrarEstoque()">
            <div class="col s10 m5 l5">
                <div class="form-input">
                    <label>Buscar lote:</label>
                    <input class="form-input z-depth-2" type="text" required [(ngModel)]="lote" name="descricao">
                </div>
            </div>

            <div class="col s2 m1 l1">
                <button class="waves-effect waves-light btn search bottom">
                    <i class="material-icons centered white-text btnSearch">search</i>
                  </button>
            </div>

        </form>

    </div>
    <div class="row">
        <div class="col s12 m12 l12">
            <div  *ngFor="let produto of estoque" class="card card-meio">
                <div class="content-texto">
                  <div class="alinhar">
                    <div class="empresa">
                      <img class="responsive-img iconePredio" src="./../assets/icon-component/product.svg" alt="produto">
                    </div>
                    
                    <div>
                      <div class="linha-1">
                        <span class="span">{{produto.produto.descricao}}</span>
                        <span>Lote: {{produto.lote | uppercase}}</span>
                        <span>Quantidade: {{produto.quantidadeUnitaria}}</span>
                    
                      </div>
                    </div>
                    <div class="spacer"></div>
                    
                    <a class="editar">
                      <img class="responsive-img icone" src="./../../../../../../assets/icon-component/lapisEditar.svg" alt="icon-editar" routerLink="">
                    </a>
                    <a class="visualizar">
                      <img class="responsive-img icone" src="./../../../../../../assets/icon-component/visualizar.svg" alt="icon-visualizar"
                        routerLink="/visualizar-cliente">
                    </a>
                  </div>
                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col s12 m12 l12 buttons-content">
            <button class="button-voltar buttons" routerLink="/estoque">VOLTAR</button>
        </div>
    </div>
</main>