
<aside data-component="sidebar">
    <div class="sidebar">
  
      <ul class="list-group flex-column d-inline-block first-menu">
        <li class="list-group-item pl-3 py-2" style="margin-top: 40px;">
          <a routerLink="/vendas">
            <div class="icon-menu">
  
              <img src="../../../../assets/img/icon-menu/cesta.svg">
              <p class="ml-2 align-middle">Gestão de vendas</p>
            </div>
          </a>
        </li>
  
  
        <li class="list-group-item pl-3 py-2">
          <a routerLink="/financeiro">
            <div class="icon-menu">
  
              <img src="../../../../assets/img/icon-menu/financeiro.svg">
  
              <p class="ml-2 align-middle">Gestão financeira</p>
            </div>
          </a>
  
        </li>
  
        <li class="list-group-item pl-3 py-2">
          <a routerLink="/dashboard-cozinha">
            <div class="icon-menu">
  
              <img src="../../../../assets/img/icon-menu/cozinha.svg">
              <p class="ml-2 align-middle">Cozinha</p>
            </div>
          </a>
        </li> <!-- /.list-group-item -->
  
  
        <li class="list-group-item pl-3 py-2">
          <a routerLink="/equipe">
            <div class="icon-menu">
  
              <img src="../../../../assets/img/icon-menu/equipe.svg">
              <p class="ml-2 align-middle">Gestão de equipe</p>
            </div>
          </a>
  
        </li>
  
        <li class="list-group-item pl-3 py-2">
          <a routerLink="/relatorios">
            <div class="icon-menu">
  
              <img src="../../../../assets/img/icon-menu/relatorio.svg">
              <p class="ml-2 align-middle">Relatórios</p>
            </div>
          </a>
        </li>
  
        <li class="list-group-item pl-3 py-2">
          <a routerLink="/estoque">
            <div class="icon-menu">
  
              <img src="../../../../assets/img/icon-menu/estoque.svg">
              <p class="ml-2 align-middle">Gestão de estoque</p>
            </div>
          </a>
        </li>
  
      </ul>
    </div>
  </aside>
