<app-header></app-header>
<main class="container">

    <div class="titulo">
        <i class="medium material-icons" rigth>highlight_off</i>
        <h4>
            Cancelamento de uma venda
        </h4>
    </div>

    <label>Código da venda</label>
    <div class="row codigoDaVenda">
            <div class="col s4  form-input">
                <input class="form-input z-depth-2" type="text" required ngModel name="codigoDaVenda">
            </div>
            <div class="col s1">
                <a class="waves-effect waves-light btn search"><i class="material-icons centered white-text">search</i></a>
            </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12">
            <h5>Dados da venda</h5>

            <div class="">
                <table class="striped responsive-table centered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Cod. Venda</th>
                            <th>Data</th>
                            <th>Hora</th>
                            <th>Nome do vendedor</th>
                            <th>Nome do cliente</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>06948472</td>
                            <td>07/08/2022</td>
                            <td>11:45</td>
                            <td>Sheldon Lee Cooper</td>
                            <td>Sheldon Lee</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12">
            <h5>Demonstrativo da venda</h5>
            <div class="demonstrativo">
                <table class="responsive-table centered">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantidade</th>
                            <th>Valor unitário</th>
                            <th>Valor total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: left;">Torta de Limão</td>
                            <td>1</td>
                            <td>R$ 55,00</td>
                            <td>R$ 55,00</td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Brownie</td>
                            <td>5</td>
                            <td>R$ 8,00</td>
                            <td>R$ 40,00</td>
                        </tr>
                    </tbody>
                </table>
                <div class="totalDaCompra">
                    <h6>Total da Compra </h6>
                    <h6><b> R$95,00</b></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <form class="col s12 m12 l12">
            <h5>Justificativa</h5>
            <div class="input-field col s12 justificativa ">
                <textarea class="form-input z-depth-2" type="text" ngModel name="justificativa" ></textarea>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12 m12 l12 buttons-content">
            <button class="waves-effect waves-light btn button-voltar" (click)="back()">Voltar</button>
            <button class="waves-effect waves-light btn right button-cancelar">Cancelar a Venda</button>
        </div>
    </div>




</main>