h4,
.buttons {
    font-family: 'Agrandir';
}

label {
    font-family: 'Manrope-SemiBold';
    color: rgb(0, 0, 0);
}

main {
    margin-top: 10px;
}




.search {
    background-color: #FF5722;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    border-radius: 5px;
}





.form-input input.form-input,
select {
    color: rgba(0, 0, 0, .87);
    background: #D9D9D9;
}

.form-input {
    margin-bottom: 20px;
}

input.form-input {
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    padding: 8px 24px 8px 24px;
    transition: all .2s ease;
    border-radius: 3px;
    outline: 0;
    border: none;
    appearance: textfield;
}

input::placeholder {
    color: #000;
}

.form-input input.form-input[type=text]:focus {
    border-bottom: none;
    box-shadow: none;
}

.button-voltar {
    background: #FF5722;
    color: #fff;
    height: 50px;
    width: 200px;
    text-transform: uppercase;
    padding-top: 5px;
    border: none;
    border-radius: 2px;
}

.button-voltar:hover {
    background: #ffccbc;
    color: #000;
}

@media screen and (max-width: 600px) {
    .descricao {
        border: 1px solid #000;
        padding: 20px 20px;
    }

}




.card-meio {
    display: flex;
    background-color: #D9D9D9;
    height: 100%;
    padding: 10px;
}

.card-meio .content-texto {
    flex: 4;
}

.alinhar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.card-meio span {
    display: block;
}

.linha-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.linha-1 .span {
    font-family: 'Manrope-Bold';
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
}



.editar,
.visualizar {
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.editar {
    background: #FF5722;
}


.visualizar {
    background: #00796B;
    margin-left: 20px;
}

.spacer {
    flex: 1
}

.empresa img {
    display: block;
    width: 60%;
}

.editar img,
.visualizar img {
    display: block;
    width: 60%;
}