*{
    font-family: 'Manrope', sans-serif;
}

.card-topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #B2DFDB;
    height: 99px;
}

.card-topo img{
    display: block;
    width: 65px;
}

.card-topo span{
    font-family: 'Manrope-Bold', sans-serif;
    font-style: normal;
    font-size: 40px;
    line-height: 55px;
}

.card-meio{
    display: flex;
    background-color: #D9D9D9;
    height: 100%;
}

.card-meio .img{
    flex: 1;
}

.card-meio .content-texto{
    flex: 4;
    padding: 20px 20px 0 20px;
}


.card-meio img{
    display: block;
    width: 100%;
}

.card-meio span{
    display: block;
}


.linha-3{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.linha-1 span{
    font-family: 'Manrope-Bold', sans-serif;
    font-size: 30px;
  
}

.span{
    font-family: 'Manrope-Bold', sans-serif;
}
.upper{
    text-transform: uppercase;
}

.linha-1 img{
    display: block;
    width: 20%;
    float: left;
}

.btn{
    background-color: #FF5722;
    top: 10px;
    right: 10px;
}

.voltar{
    margin-left: 20px;
    background-color: #00796B;

}

.card-fim{
    
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #D9D9D9;

}

th{
    font-family: 'Manrope-Bold', sans-serif;
    font-size: 18px;
}

.negrito{
    font-family: 'Agrandir', sans-serif;
}

.form-input input.form-input {
    color: rgba(0, 0, 0, .87);
    background: #D9D9D9;
  }
    
  input.form-input {
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 8px 24px 8px 24px;
    transition: all .2s ease;
    border-radius: 3px;
    outline: 0;
    border: none;
    appearance: textfield;
    height: 30px;
  }
  
  .form-input input.form-input[type=text]:focus {
    border-bottom: none;
    box-shadow: none;
  }

/* TextArea custom */
.form-input textarea.form-input {
    color: rgba(0, 0, 0, .87);
    background: #D9D9D9;
  }
  
  .form-input{
    margin-bottom: 20px;
  }
  
  textarea.form-input {
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 8px 24px 8px 24px;
    transition: all .2s ease;
    border-radius: 3px;
    outline: 0;
    border: none;
    appearance: textfield;
    height: 200px;
    border-bottom: none;
    box-shadow: none;
    resize: none;
  }
  
  .button-voltar {
    background: #ff5722;
    color: #fff;
    height: 50px;
    width: 150px;
    padding-top: 5px;
    border-radius: 2px;
}

.button-cancelar {
    background: #00796B;
    color: #D9D9D9;
    height: 50px;
    width: 200px;
    padding-top: 5px;
    border-radius: 2px;
}

.button-voltar:hover {
    background: #ffccbc;
    color: #000;
}

.button-cancelar:hover {
    background: #B2DFDB;
    color: #000;
    height: 50px;
    width: 200px;
}
 
.btn-small{
    height: 30px;
    width: 100px;
    margin-top: 23px;
    border-radius: 2px;
    color: #fff;
}

.btn-add{
    background-color: #00796B;
    width: 200px;
}

select{
    height: 30px;
    margin: 0;
    padding: 0;
    background-color: #D9D9D9;
  }