<app-header></app-header>
<div class="container">
    <div class="card card-topo">
        <img class="img-topo" src="../../../../../assets/icon-menu/cozinha.svg" alt="cozinha">
        <span>TORTA DE LIMÃO</span>
    </div>

    <div class="card card-meio">
        <div class="img">
            <img class="img-meio" src="../../../../../assets/fotos/comida/torta-limao.png" alt="cozinha">
        </div>
        <div class="content-texto">
            <div class="linha-1">
                <span>TORTA DE LIMÃO</span>
                <a routerLink="/cadastro-funcionario" class="waves-effect waves-light btn btnNovo right"><img src="../../../../../assets/icon-component/check-branco.svg" alt="icon-check">Finalizar Receita</a>
            </div>
            <div class="linha-2">
                <span>Data para entrega: 12/08/2022</span>
                <span>Horário: 16h45m</span>
                <span class="span">Descrição:</span>
                <div class="linha-3">
                    <span>Bolo de limão tamanho “M”, para 15 pessoas</span>
                    <span class="span">Tempo de preparo:</span>
                    <span> 40MIN.</span>
                    <span class="span">Rendimento: </span>
                    <span>15 porções</span>
                </div>

            </div>
        </div>

    </div>

    <div class="card card-fim" style="background-color: #B2DFDB;">
        <table class="striped">
            <caption>Ingredientes</caption>
            <thead>
                <tr>
                    <th>Ingredientes</th>
                    <th>Quantidade</th>
                    <th>Unidade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Limão</td>
                    <td>1</td>
                    <td>Kg</td>
                </tr>
                <tr>
                    <td>Açúcar</td>
                    <td>1</td>
                    <td>Kg</td>
                </tr>
                <tr>
                    <td>Farinha de trigo</td>
                    <td>1</td>
                    <td>Kg</td>
                </tr>
                <tr>
                    <td>Leite</td>
                    <td>1</td>
                    <td>l</td>
                </tr>
                <tr>
                    <td>Manteiga</td>
                    <td>250</td>
                    <td>g</td>
                </tr>
                <tr>
                    <td>Ovos</td>
                    <td>3</td>
                    <td>un</td>
                </tr>
        </table>

        <table class="striped">
            <caption>Modo de preparo</caption>
            <thead>
                <tr>
                    <th>Modo de preparo</th>
                </tr>
            </thead>
            <tbody>

                <tr>

                    <td>1 - Em uma panela, coloque o leite, o açúcar, o ovos e o limão.</td>
                </tr>
                <tr>
                    <td>2 - Misture até formar uma massa homogênea.</td>
                </tr>
                <tr>
                    <td>3 - Em uma tigela, coloque a farinha de trigo e a manteiga.</td>
                </tr>
                <tr>
                    <td>4 - Misture até formar uma massa homogênea.</td>
                </tr>
                <tr>
                    <td>5 - Em uma forma de furo, coloque a massa de limão.</td>
                </tr>
                <tr>
                    <td>6 - Leve ao forno por 10 minutos.</td>
                </tr>
                <tr>
                    <td>7 - Retire do forno e sirva.</td>
                </tr>
            </tbody>
        </table>
  
        
    </div>
</div>
