*{
    font-family: 'Manrope', sans-serif;
}

h4{
    font-family: 'Agrandir', sans-serif;
    font-size: 36px;
}

.card-meio{
    display: flex;
    background-color: #D9D9D9;
    height: 100%;
    padding: 10px;
}

.card-meio .img{
    flex: 1;
}

.card-meio .content-texto{
    flex: 4;
}

.alinhar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.card-meio img{
    display: block;
    width: 40%;
    border-radius: 100%;
}

.card-meio span{
    display: block;
    margin-left: -80px;
}

.linha-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.linha-1 .span{
    font-family: 'Manrope-Bold', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
}
.visualizar{
    width: 15%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    background: #00796B;
    margin-left: 20px;
}
.btn {
    background: #00796B;
    padding: 0%;
}

.btn2{
    background: #FF5722;
    padding: 0%;
}

.imgCheck{
    height: 60px;
    width: 22px;
}

.check{
    margin-right: 0px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
} 

.button-voltar{
    height: 50px;
    width: 200px;
    text-transform: uppercase;
    border: none;
    font-family: 'Agrandir', sans-serif;
    background: #FF5722;
    color: #fff;
    margin-left: -10px;
    margin-top: 100px;
    border-radius: 2px;
    padding-top: 5px;
  }

  .button-voltar:hover{
    background: #ffccbc;
    color: #000;
  }

  .editar, .visualizar{
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(116, 116, 116, 0.75)
}

.editar{
    background: #FF5722;
}




.editar img, .visualizar img{
    display: block;
    width: 50%;
}

.spacer{
    flex:1;
}
  