.receitas{
    margin: 45px;
    flex: 1 0 auto;
    padding: 40px; 
  }


/* BOTÕES*/
.btnTotal {
    background-color: #750000;
    width: 100%;
 
}

.btnTotal:hover {
    background-color: #fff;
    color: #750000;
}

.btnAdd {
    background-color: #e8ba7fe7;
    margin-right: 10px;
}

.btnAdd:hover {
    background-color: #F69110;
}

.pagination li.active {
    background-color: #F69110;
}


/* MODO MOBILE PÁGINA DE RECEITAS */
@media screen and (max-width: 600px) {
   
    .imagemReceitas{
     width: 140px;
    }
    .btnAdd{
        width: 40%;
        font-size: 80%;
    }

}

/*  TABELA RECEITA */
#tabela{
    border: 1px solid black;
    border-radius: 20px;
    width: 700px;
}

#tabela2{
    border: 1px solid black;
    border-radius: 20px;
    width: 700px;
}

/* NAVBAR-PESQUISA */

.header-search-wrapper {
    position: relative;
    display: inline-block;
    height: 40px;
    backface-visibility: hidden;
    width: calc(100% - 560px);
    margin: 10px auto 0 300px;
}

.navbar .header-search-wrapper i {
    font-size: 24px;
    line-height: 32px !important;
    position: absolute;
    top: 6px;
    left: 24px;
    transition: color .3s ease;
}

.navbar .navbar-light .header-search-wrapper input.header-search-input {
    color: rgba(0, 0, 0, .87);
    /* border: 1px solid #efefef; */
    background: rgba(230, 230, 230, .3);
}

.navbar input.header-search-input {
    font-size: 16px;
    font-weight: 400;
    display: block;
    box-sizing: border-box;
    width: 83%;
    margin-bottom: 0;
    padding: 8px 8px 8px 65px;
    transition: all .2s ease;
    border-radius: 3px;
    outline: 0;
    border: none;
    appearance: textfield;
}

.header-search-wrapper input.header-search-input[type=text]:focus {
    border-bottom: none;
    box-shadow: none;
}

blockquote {
    border-left: 5px solid #750000;
}

.btnEdt {
    background-color: #e8ba7fe7;
    margin-right: 10px;
    margin-top: 15px;
}

.btnEdt:hover {
    background-color: #F69110;
}

table td,
table th {
    width: 50%;
}

@media screen and (max-width: 600px) {

    .tituloReceita {
        font-size: 23px;
    }

    .btnEdt {
        left: 50px;
        margin-top: -5px;
    }

    table td,
    table th {
        width: 100%;
    }

    .imagemReceitas {
        width: 140px;
    }

    .btnAdd {
        width: 40%;
        font-size: 80%;
    }


    .receitas-hed, .receitas-nav{
        height: 120px;
    }

    .header-search-wrapper {
        position: relative;
        display: inline-block;
        height: 40px;
        backface-visibility: hidden;
        width: 100%;
        margin: 10px auto 0 30px;
    }
    
    .navbar .header-search-wrapper i {
        font-size: 24px;
        line-height: 32px !important;
        position: absolute;
        top: 6px;
        left: 24px;
        transition: color .3s ease;
    }

}