<app-header></app-header>
<main class="container">
    <a class="waves-effect waves-light btn btn-small btnEdt right" routerLink="/editar-receita">Editar receita</a>
    <table class="responsive-table striped">
        <thead>
          <tr>
              <th>Ingredientes</th>
              <th>Quantidades</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor=" let receita of receitas ">
            <td>{{ receita.ingredientes }}</td>
            <td>{{ receita.quantidade }}</td>
          </tr>
        </tbody>
      </table>
      <b></b>
      <i class="large material-icons">restaurant_menu</i>
      <blockquote class="cor">
          <b>Modo de fazer a massa</b>
      </blockquote>
      <br>
      <blockquote>
          <b>Modo de fazer o recheio</b>
      </blockquote>
</main>