
<aside data-component="sidebar">
    <div class="sidebar">
  
      <ul class="list-group flex-column d-inline-block first-menu">
        <li class="list-group-item pl-3 py-2" style="margin-top: 40px;">
          <a routerLink="/cadastro-admin">
            <div class="icon-menu">
  
              <img src="../../../assets/icon-menu/admin.svg">
              <p class="ml-2 align-middle">Equipe Bon Appétit</p>
            </div>
          </a>
        </li>
  
  
        <li class="list-group-item pl-3 py-2">
          <a routerLink="/clientes">
            <div class="icon-menu">
  
              <img src="../../../assets/icon-menu/equipe.svg">
  
              <p class="ml-2 align-middle">Gestão de clientes</p>
            </div>
          </a>
  
        </li>
  
        <li class="list-group-item pl-3 py-2">
          <a routerLink="/dashboard-cozinha">
            <div class="icon-menu">
  
              <img src="../../../assets/icon-menu/financeiro.svg">
              <p class="ml-2 align-middle">Gestão financeira</p>
            </div>
          </a>
        </li>  
  
        <li class="list-group-item pl-3 py-2">
          <a routerLink="/equipe">
            <div class="icon-menu">
  
              <img src="../../../assets/icon-menu/relatorio.svg">
              <p class="ml-2 align-middle">Relatórios</p>
            </div>
          </a>
  
        </li>
  
  
      </ul>
    </div>
  </aside>
