<app-header></app-header>
<main class="container">

    <div class="titulo">
        <img class="responsive-img icone" src="../../../assets/img/estoque/lupa.svg">
        <h4>Atualizar matéria-prima</h4>
    </div>
    <div class="row">
        <div class="col s10 m5 l5">
            <div class="form-input">
                <label>Buscar produto:</label>
                <input class="form-input z-depth-2" type="text" required ngModel name="produto">
            </div>
        </div>
        <div class="col s2 m1 l1">
            <a class="waves-effect waves-light btn search bottom"><i
                    class="material-icons centered white-text">search</i></a>
        </div>
        <div class="botaoLote">
            <a routerLink="/" class="waves-effect waves-light btn btnLote right">ATUALIZAR LOTE CADASTRADO</a>
        </div>
    </div>

    <form #f="ngForm">

        <div class="row">
            <div class="col s12 m2 l2">
                <div class="form-input">
                    <label for="codigo">Código</label>
                    <input id="codigo" class="form-input z-depth-2" type="text" name="codigo">
                </div>
            </div>
            <div class="col s12 m5 l5 select">
                <label for="nome-produto">Nome do produto</label>
                <select id="id_produto" name="id_produto" class="browser-default" ngModel>
                    <option value="outros">Outros</option>
                    <option></option>
                </select>
            </div>

            <div class="col s12 m3 l3">
                <div class="form-input">
                    <label for="quantidade-de-medida">Quantidade de medida</label>
                    <input id="quantidade" class="form-input z-depth-2" type="number" required ngModel
                        name="quantidade">
                </div>
            </div>

            <div class="col s12 m2 l2">
                <label for="unidade-medida">Unidade de medida</label>
                <select id="unidade_medida" name="unidade_medida" class="browser-default" ngModel>
                    <option value="kg">kg</option>
                    <option value="g">g</option>
                    <option value="l">l</option>
                    <option value="ml">ml</option>
                </select>
            </div>

        </div>

        <div class="row">
            <div class="col s12 m1 l2">
                <label for="possui-lote">Possui lote?</label>
                <select id="possui-lote" name="possui-lote" class="browser-default">
                    <option value="sim">Sim</option>
                    <option value="nao">Não</option>
                </select>
            </div>

            <div class="col s12 m1 l2">
                <div class="form-input">
                    <label for="N-do-lote">Nº do lote </label>
                    <input class="form-input z-depth-2" type="text" ngModel name="lote">
                </div>
            </div>

            <div class="col s12 m2 l2">
                <div class="form-input">
                    <label for="quantidade_unitaria">Quantidade unitária</label>
                    <input class="form-input z-depth-2" type="number" required ngModel name="quantidade_unitaria">
                </div>
            </div>

            <div class="col s12 m2 l2" style="padding-right: 0;">
                <div class="form-input">
                    <label for="validade">Data de validade</label>
                    <input id="validade" class="form-input z-depth-2" type="date" required ngModel
                        name="validade">
                </div>
            </div>

            <div class="col s1 m1 l1">
                <img src="../../assets/img/estoque/calendar.svg" class="responsive-img calendar">
            </div>

            <div class="col s12 m2 l3">
                <div class="form-input">
                    <label for="preco">Preço unitário do produto</label>
                    <input class="form-input z-depth-2" type="number" ngModel required name="preco" placeholder="R$">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l12 buttons-content">
                <button class="button-salvar buttons right submit">SALVAR PRODUTO</button>
            </div>
        </div>
    </form>


</main>