<app-header></app-header>
<div class="container">
  <div class="containerBuscar">
    <div class="titulo">
      <img class="responsive-img icone" src="../../assets/icon-component/buscar_usuario.svg">
      <h6>Buscar Usuário</h6>
    </div>
    <div class="row">
      <form autocomplete="off" (ngSubmit)="getFuncionarios()">

        <div class="form-input col s12 m3 l3">
          <label>CPF</label>
          <input class="form-input z-depth-2" type="text" required [(ngModel)]="cpf" name="cpf">
        </div>
        <div class="col s10 m8 l8">
          <div class="form-input">
            <label>Nome</label>
            <input class="form-input z-depth-2" type="text" required [(ngModel)]="nome" name="nome">
          </div>
        </div>
        <div class="spacer"></div>
        <div class="col s2 m1 l1">
          <button class="waves-effect waves-light btn search bottom"><i
              class="material-icons centered white-text">search</i></button>
        </div>
      </form>

    </div>
  </div>

  <div style="display: flex;" class="botao">

    <a (click)="back()" class="waves-effect waves-light btn btnVoltar right">VOLTAR</a>
    <div class="spacer"></div>
    <a routerLink="/cadastrar-usuario" class="waves-effect waves-light btn btnNovo right">NOVO USUÁRIO</a>
  </div>



  <ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s4 m4 l4"><a class="active tabs-personal" href="#test-swipe-1"
        (click)="getFuncionarios()">Gerência </a></li>
    <li class="tab col s4  m4 l4"><a class="tabs-personal" href="#test-swipe-2" (click)="getFuncionarios()">Cozinha</a>
    </li>
    <li class="tab col s4  m4 l4"><a class="tabs-personal" href="#test-swipe-3" (click)="getFuncionarios()">Venda</a>
    </li>
  </ul>

  <div id="test-swipe-1" class="col s12 white">
    <div class="row">

      <div *ngFor="let gt of funcionarios">
        <div *ngIf="gt.perfil == 'GERENCIA'">
          <section class="col s6 m3 l3">
            <article class="card">
              <div class="card-image">
                <div class="img-box">

                  <img class="responsive-img" src="../../assets/fotos/pessoas.webp">
                </div>
              </div>
              <div class="card-content">
                <span class="card-title center-align"> {{ gt.nome }} </span>
              </div>

              <div class="card-action">
                <a [routerLink]="['/visualizar-usuario', gt.id]"
                  class="waves-effect waves-light btn center-align btnTotal">Visualizar</a>
              </div>

            </article>
          </section>
        </div>
      </div>

    </div>

    <div class="row">
      <ul class="pagination center-align">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
    </div>

  </div>

  <div id="test-swipe-2" class="col s12 white">
    <div class="row">

      <div *ngFor="let cz of funcionarios">
        <div *ngIf="cz.perfil == 'COZINHA'">
          <section class="col s6 m3 l3">
            <article class="card">
              <div class="card-image">
                <img src="../../assets/fotos/pessoas.webp">
              </div>
              <div class="card-content">
                <span class="card-title center-align"> {{ cz.nome }} </span>
              </div>
              <div class="card-action">
                <a [routerLink]="['/visualizar-usuario', cz.id]"
                  class="waves-effect waves-light btn center-align btnTotal">Visualizar</a>
              </div>
            </article>
          </section>
        </div>
      </div>

    </div>

    <div class="row">
      <ul class="pagination center-align">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
    </div>
  </div>

  <div id="test-swipe-3" class="col s12 white">
    <div class="row">

      <div *ngFor="let vd of funcionarios">
        <div *ngIf="vd.perfil == 'VENDA'">
          <section class="col s6 m3 l3">
            <article class="card">
              <div class="card-image">
                <img src="../../assets/fotos/pessoas.webp">
              </div>
              <div class="card-content">
                <span class="card-title center-align"> {{ vd.nome }} </span>
              </div>
              <div class="card-action">
                <a [routerLink]="['/visualizar-usuario', vd.id]"
                  class="waves-effect waves-light btn center-align btnTotal">Visualizar</a>
              </div>
            </article>
          </section>
        </div>
      </div>

    </div>

    <div class="row">
      <ul class="pagination center-align">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
    </div>
  </div>
</div>