<app-header></app-header>
<main class="container">

    <div class="titulo">
        <img class="responsive-img icone" src="../../../assets/icon-component/lupa.svg">
        <h4>Cadastro de matéria-prima</h4>
    </div>


    <form #f="ngForm" (ngSubmit)="addProduto(f.value)">

        <div class="row">

            <div class="col s12 m5 l6 form-input">
                <label for="nome-produto">Nome do produto</label>

                <!-- <select id="id_produto" name="id_produto" class="browser-default" ngModel>
                    <option value="outros">Outros</option>
                    <option *ngFor=" let produto of produtos" value="{{produto.id_produto}}">{{produto.descricao}}
                    </option>
                </select> -->

                <input class="form-input z-depth-2" type="text" ngModel name="descricao">
            </div>

            <div class="row">

            </div>

            <div class="row">
                <div class="col s12 m12 l12 buttons-content">
                    <button class="button-voltar buttons left" type="reset" (click)="back()">VOLTAR</button>
                    <button class="button-salvar buttons right" type="submit">SALVAR PRODUTO</button>
                </div>
            </div>
        </div>

    </form>

</main>