.content {
  margin-left: 30px;

  margin-top: 30px;
}

h1 {
  font-family: 'Agrandir';
  font-size: 1em;
  color: #000;
  margin-top: 20%;
}

h3 {
  font-family: 'Agrandir';
  text-align: center;
  color: white;
  
}

h5 {
  font-size: 1.5em;
  color: #000;
  text-align: center;
  margin-top: 0px;
}

.card-menu img {
  width: 4em;
  height: 4em;
  margin-top: 40px;
}

.card-menu img {
  display: block;
  width: 35%;
}

.card-panel {
  height: 218px;
  padding: 45px;
}

.content-menu {
  text-align: center;
}

.icone {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 25%;
}

.card-menu,
.content-menu {
  height: 227px;
  cursor: pointer;
}

.card-menu:hover {
  box-shadow: 0px 0px 10px #00796B;
  ;
}

.saldoAtual {
  background-color: #4DB6AC;
}

.aPagar {
  background-color: #FF5722
}

.saldoReceber {
  background-color: #F69110
}

.saldoProjetado {
  background-color: #B2DFDB
}

.indicador {
  font-family: 'Agrandir';
  text-align: right;
  margin-top: 60px;
}


/*Campo INPUT*/
.form-input input.form-input {
  color: #000;
  background:#D9D9D9;
}
.form-input{
  margin-bottom: 20px;
}

input.form-input {
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  padding: 8px 24px 8px 24px;
  transition: all .2s ease;
  border-radius: 3px;
  outline: 0;
  border: none;
  appearance: textfield;
}

.calendar{
  display:flex;
  align-items: bottom;
  margin-left: -50px;
  margin-top: 23px;
  height: 3rem;
  width: 100%;
}

label{
  color: #000;
  font-family: 'Agrandir';
}

@media screen and (max-width: 768px) {
  main {
    margin-top: 40px;
  }

  h1 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.9em;
  }

  img {
    width: 2.5em
  }
}