<app-header></app-header>
<div class="container">
    <div class="card card-topo">
        <img class="img-topo" src="../../assets/img/icon-menu/cozinha.svg" alt="cozinha">
        <span class="upper">{{receita.titulo}}</span>
    </div>


    <div class="card card-meio">
        <div class="img">
            <img class="img-meio" src="../../assets/img/receitas/torta-limao.png" alt="cozinha">
        </div>
        <div class="content-texto">
            <div class="linha-1">
                <span>{{receita.titulo}}</span>
            </div>
            
                <div class="linha-3">
                    <span class="span">Tempo de preparo:</span>
                    <span>{{receita.tempoDePreparo}}</span>
                    <div style="margin-right: 30px;"></div>
                    <span class="span">Rendimento: </span>
                    <span>{{receita.rendimento}}</span>
                </div>

           
        </div>
        <div class="linha-1">
          <a routerLink="/receitas" class="waves-effect waves-light btn btnNovo right">Voltar</a>
      </div>
      <div class="linha-1">
        <a [routerLink]="['/editar-receita', receita.id]" class="waves-effect waves-light btn btnNovo voltar right">Editar</a>
    </div>

    </div>

    <div class="card card-fim" style="background-color: #B2DFDB;">
      <table class="striped">
        <tr>
          <th>Ingredientes</th>
        </tr>
        <tr>
          <td [innerHTML] ="receita.ingredientes">{{receita.ingredientes}}</td>
        </tr>
      </table>

      <table class="striped">
        <tr>
          <th>Modo de preparo</th>
        </tr>
        <tr>
          <td [innerHTML] ="receita.modoDePreparo">{{receita.modoDePreparo}}</td>
        </tr>
        
      </table>
  
    </div>
</div>
